html, body, p, div {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
    vertical-align: middle;
    text-align: right;
}

.container {
    width: 512px;
    height: 38px;
    position: relative;
    background-color: red;
    border-radius: 19px;
    }

.nested {
    background-color: black;
    position: absolute;
    vertical-align: middle;
    border-color: red;
}

.c1 {
    width: 70px;
    height: 36px;
    right: 0;
    border-radius: 18px;
}

.c2 {
    width: 68px;
    height: 34px;
    right: 44px;
    border-radius: 17px;
}

.c3 {
    width: 64px;
    height: 32px;
    right: 42px;
    border-radius: 16px;
}

.c4 {
    width: 62px;
    height: 30px;
    right: 40px;
    border-radius: 15px;
}

.c5 {
    width: 60px;
    height: 28px;
    right: 38px;
    border-radius: 14px;
}

.c6 {
    width: 56px;
    height: 26px;
    right: 36px;
    border-radius: 13px;
}

.c7 {
    width: 52px;
    height: 24px;
    right: 34px;
    border-radius: 12px;
}

.c8 {
    width: 44px;
    height: 22px;
    right: 32px;
    border-radius: 11px;
}

.c9 {
    width: 40px;
    height: 20px;
    right: 30px;
    border-radius: 10px;
}

.c10 {
    width: 36px;
    height: 18px;
    right: 28px;
    border-radius: 9px;
}

.c11 {
    width: 32px;
    height: 16px;
    right: 26px;
    border-radius: 8px;
}

.c12 {
    width: 26px;
    height: 14px;
    right: 22px;
    border-radius: 7px;
}

.c13 {
    width: 22px;
    height: 12px;
    right: 18px;
    border-radius: 6px;
}

.c14 {
    width: 18px;
    height: 10px;
    right: 16px;
    border-radius: 5px;
}

.c15 {
    width: 14px;
    height: 8px;
    right: 14px;
    border-radius: 4px;
}

.c16 {
    width: 10px;
    height: 6px;
    right: 12px;
    border-radius: 3px;
}

.c17 {
    width: 8px;
    height: 4px;
    right: 8px;
    border-radius: 2px;
}

.c18 {
    width: 6px;
    height: 2px;
    right: 6px;
    border-radius: 1px;
}
